{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}
<header class="main-header" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
    {{#if @blog.logo}}
        <p><a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="logo" /></a></p>
    {{else}}
        <h1><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
    {{/if}}</a></p>
</header>


{{! The main content area on the homepage }}
<main>
    <article class="tag-archive">
        <header class="tag-archive-header">
            <p>You are browsing</p>
            <h1>{{tag.name}}</h1>
        </header>

        <section class="tag-posts">
            {{! Each post will be output using this markup }}
            {{#foreach posts}}

            <article class="{{post_class}}">
                <header>
                    <h1><a href="{{url}}">{{{title}}}</a></h1>
                </header>

                <p>{{excerpt}}… <a href="{{url}}" class="more">Read more</a></p>
                <footer>
                    <p class="meta">
                        <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
                        <span class="tags">{{tags prefix="on "}}</span>
                    </p>
                </footer>
            </article>

            {{/foreach}}

            <footer>
                {{!! After all the posts, we have the previous/next pagination links }}
                {{pagination}}
            </footer>
        </section>
    </article>
</main>
